*~
/.gradle/
/assembly.rnc
/assembly.rng
/assembly.sch
/build
/dbforms.rnc
/dbforms.rng
/dbforms.sch
/dbits.rnc
/dbits.rng
/dbits.sch
/defguide.rnd
/docbook.rnc
/docbook.rng
/docbook.sch
/docbookxi.rnc
/docbookxi.rng
/docbookxi.sch
/publishers.rnc
/publishers.rnd
/publishers.rng
/publishers.sch
/sdocbook.rnc
/sdocbook.rnd
/sdocbook.rng
/sdocbook.sch
/slides-full.rnc
/slides-full.rng
/slides-full.sch
/slides.rnc
/slides.rng
/slides.sch
/transclusion.rnc
/transclusion.rng
/transclusion.sch
/website-full.rnc
/website-full.rng
/website-full.sch
/website.rnc
/website.rng
/website.sch
/dbrdfalite.rnc
/dbrdfalite.rng
