version: 2
jobs:

  # FIXME: Work out how to use YAML features or “Orbs” to reduce the
  # redundancy in this configuration. The ‘testbuild’ and ‘deploybuild’
  # jobs are essentially the same. They only differ in the gradle target.

  testbuild:
    machine:
      image: ubuntu-2004:202111-02

    working_directory: ~/repo

    environment:
      JVM_OPTS: -Xmx8g
      TERM: dumb

    steps:
      - add_ssh_keys:
          fingerprints:
            - "b0:bd:c4:2f:38:08:36:4c:08:17:93:c8:98:53:1e:98"

      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: ./gradlew dependencies

      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}

      - run: ./gradlew dist

      - persist_to_workspace:
          root: build
          paths:
            - distributions

      - store_artifacts:
          path: build

  deploybuild:
    machine:
      image: ubuntu-2004:202111-02

    working_directory: ~/repo

    environment:
      JVM_OPTS: -Xmx8g
      TERM: dumb

    steps:
      - add_ssh_keys:
          fingerprints:
            - "b0:bd:c4:2f:38:08:36:4c:08:17:93:c8:98:53:1e:98"

      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: ./gradlew dependencies

      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}

      - run: ./gradlew dist

      - persist_to_workspace:
          root: build
          paths:
            - distributions

      - run: ./.circleci/publish-cdn.sh

  publish-github-release:
    docker:
      - image: cibuilds/github:0.10
    steps:
      - attach_workspace:
          at: ./artifacts
      - run: ls -lR
      - run:
          name: "Publish Release on GitHub"
          command: |
            VERSION=${CIRCLE_TAG}
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} ${VERSION} ./artifacts/distributions/

workflows:
  version: 2
  check:
    jobs:
      - testbuild:
          filters:
            branches:
              ignore: gh-pages
  deploy:
    jobs:
      - deploybuild:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.+/
      - publish-github-release:
          requires:
            - deploybuild
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.+/
